body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0f8b1d;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(243, 233, 234);
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.section {
    padding: 100px 20px;
    margin-top: 50px;
    min-height: 100vh;
    text-align: center;
}

#home {
    background-image: url("C:\--portfolio-for-sps-connectivity.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* To ensure text is readable against the background image */
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

#about {
    background-color: #ddd;
}

#projects {
    background-color: #bbb;

}

#gallery {
    background-color: #e4e4e4;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #333;
}

#contact {
    background-color: #d4d4d4;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form label {
    margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

#contact-form button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

#contact-form button:hover {
    background-color: #ff6347;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.social-media a:hover {
    color: #ff6347;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #07867d;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ff6347;
    transform: scale(1.05);
}
